{% extends 'base.html.twig' %}
{% block boutonEntreprises %}
    <a class="nav-link active" href="{{path('prostageEntreprises')}}">Entreprises</a>
{% endblock %}
{% block contenu %}

<html>
    <body>
        <br>
        <h3>Liste des entreprises proposant un stage</h3>
        <br>
        <ul class="list-group">
        {% for entrepriseCourante in entreprises %}
            <li class = "list-group-item">
                <a href='{{path('prostageEntreprise',{id:entrepriseCourante.id})}}' class="text-decoration-none">
                {{entrepriseCourante.nom}}
                </a>
            </li>
        {% endfor %}
        </ul>   
    </body>
</html>

{% endblock %}