{% extends 'base.html.twig' %}
{% block boutonFormations %}
    <a class="nav-link active" href="{{path('prostageFormations')}}">Formations</a>
{% endblock %}
{% block contenu %}

<html>
    <body>
        <h3>Liste des formations</h3>
        <br>
        <div class="list-group">
        {% for formationCourante in formations %}
            <li class = "list-group-item">
                <a href='{{path('prostageFormation',{id:formationCourante.id})}}' class="text-body">
                    <div class="list-group d-flex justify-content-between">                       
                        {{formationCourante.nom}}                     
                    </div>
                    <!--Calculer le nombre de stages dans la formation-->
                    {% set nbStages = 0 %}   
                    {% for stageCourant in formationCourante.stages %}
                        {% set nbStages = loop.length %}
                    {% endfor %}
                    <p class="badge badge-pill badge-dark">Nombre de stages : {{ nbStages }}</p>
                </a>
            </li>
        {% endfor %}
        </div>
    </body>
</html>

{% endblock %}