{% extends 'base.html.twig' %}

{% block boutonAccueil %}
    <a class="nav-link active" href="{{path('prostageAccueil')}}">Accueil</a>
{% endblock %}

{% block contenu %}
<h3>Ci-dessous la liste des stages présents sur Prostages</h3><br><br>

<ul class="list-group">

    {% for stageCourant in stages %}
    <li class = "list-group-item">
        <a href='{{path('prostageStages',{id:stageCourant.id})}}' class="text-decoration-none">
            {{stageCourant.titre}}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}