{% extends 'base.html.twig' %}

{% block boutonAccueil %}
    <a class="nav-link active" href="/">Accueil</a>
{% endblock %}

{% block contenu %}

<p>Bienvenue sur la page d'accueil de Prostage</p>

{% endblock %}