{% extends 'base.html.twig' %}

{% block contenu %}

<h1>Bienvenue sur la page d'accueil de Prostage</h1>

<label for="choix-formation">Choisir une formation :</label>

<select name="from" id="choix-formation">
    <option value=""></option>
    <option value="dut">DUT Informatique</option>
    <option value="lic">Licence</option>
</select>

<label for="choix-entreprise">Choisir une entreprise :</label>

<select name="entrep" id="choix-entreprise">
    <option value=""></option>
    <option value="1">Entreprise 1</option>
    <option value="2">Entreprise 2</option>
</select>

{% endblock %}