<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
        <title>
          {% block title %}
          Prostages
          {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}
          <div class="container-fluid" id="enHaut">
            <div class="row">
              <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand mb-0 h1">Prostages</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        {% block boutonAccueil %}
                        <a class="nav-link" href="{{path('prostageAccueil')}}" title="Tous les stages">Accueil</a>
                        {% endblock %}
                      </li>
                      <li class="nav-item">
                        {% block boutonEntreprises %}
                        <a class="nav-link" href="{{path('prostageEntreprises')}}" title="Stages par entreprises">Entreprises</a>
                        {% endblock %}
                      </li>
                      <li class="nav-item">
                        {% block boutonFormations %}
                        <a class="nav-link" href="{{path('prostageFormations')}}" title="Stages par formation">Formations</a>
                        {% endblock %}
                      </li>
                      <li class="nav-item">
                        <a class="btn btn-outline-light" href="https://github.com/Arkait53/Prostages" title="Lien vers le GitHub">Il est caché !</a>
                      </li>
                    </ul>
                    {% block recherche %}
                    {% endblock %}
                  </div>
                </nav>
              </div>
            </div>
          </div>
        {% endblock %}
        <br>
        <div class="col py-3 px-lg-5">
          {% block contenu %}        
          {% endblock %}
        </div>
        <br><br>
        {% block footer %}
          <footer class="footer fixed-bottom bg-dark">
            <a href="#enHaut" class="text-white text-decoration-none">
              <div class="text-center">Retourner en haut </div>
              <div class="text-center"><small>Designed by L. VINCENT</small></div>
            </a>
          </footer>
        {% endblock %}
        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>