<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}
        <h1>----------- MENU ----------</h1>
        {% endblock %}
        {% block contenu %}
        {% endblock %}
        {% block footer %}
        <h1>----------- FOOTER ----------</h1>
        <p>Designed by E. Gutierrez & L. Vincent</p>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
