{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>Une erreur est survenue</h1>
    <p>Veuillez nous excuser pour la gène ocasionner, réessayer plus tard</p>
{% endblock %}